<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Comercio</ion-title>
    <ion-buttons slot="end">
      <ion-button class="bordered" fill="solid" color="light">
        <ion-icon color="custom" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item lines="none">

  </ion-item>
</ion-header>

<ion-content>
  <div class="slides ion-margin-bottom">
    <ion-slides [options]="tarjetas">
      <ion-slide>
        <ion-card color="light" *ngFor="let tarjeta of tarjetas">
          <ion-card-header>
            <div class="main">

            </div>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            
            <ion-card-title class="ion-margin-bottom">{{tarjeta.titulo}}</ion-card-title>
            <ion-card-subtitle>{{tarjeta.subtitulo}}</ion-card-subtitle>
            <img src="{{tarjeta.img}}">
            
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>

  </div>
</ion-content>
