ion-header{
    ion-toolbar, ion-item{
        --background: #f1f5f8;
        background: #f1f5f8;
        padding: 0 10px;
    }
    ion-toolbar{
        .bordered{
            --border-radius: 10px;
            --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #FFFFFF;
        }
    }
    ion-item{
        h3{
            font-weight: 700;
            font-size: 14px;
        }
        p{
            font-weight: 500;
            font-size: 14px;
        }
        
    }
}
ion-content{
    ion-card{
        width: 100%
        var(--box-shadow) none;
        border-radius: 14px;
        padding: 14px;
        background: rgba(255,255,255, .8);
        main{
            width: 60px;
            height: 60px;
            border-radius: 50px;
            background: #FFFFFF;
            box-shadow: 7px 7px 20px #dbdfe2, -7px -7px 20px #FFFFFF;
            img{
                width: 30px;
            }
        }
    }
    .slides{
        --background:#f1f5f8;
        padding: 4px 10px 20px 10px;
        border-radius: 0 0 28px 28px;
    }
}